# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
max_line_length = 200
insert_final_newline = true

[*.json]
indent_size = 2

[*.{xml,csproj,config,props}]
indent_size = 2

